{{ 'global.manager'|trans }} {{ report.manager.firstName }} {{ report.manager.lastName }}
{{ 'notification.info_new_report_created'|trans }}
<a href="{{ path('report_unit_list_view', {'report': report.id}) }}">{{ 'global.here'|trans }}</a>