{% extends 'layout_panel.html.twig' %}

{% block head %}
    {{ 'global.users'|trans }}
{% endblock %}

{% block head_small %}
    {{ 'global.issuers'|trans }}
{% endblock %}

{% block body %}
    {% set _route = app.request.get('_route') %}

    <div class="box box-primary">
        <ul class="nav nav-tabs">
            <li {% if _route =='user_managers' %}class="active"{% endif %}><a
                        href="{{ path('user_managers') }}">{{ 'global.managers'|trans }}</a></li>
            <li {% if _route =='user_issuers' %}class="active"{% endif %}><a
                        href="{{ path('user_issuers') }}">{{ 'global.issuers'|trans }}</a></li>
        </ul>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="thpt">
                        <th class="thpt">{{ 'global.first_name'|trans }}</th>
                        <th class="thpt">{{ 'global.last_name'|trans }}</th>
                        <th class="thpt">{{ 'global.last_login'|trans }}</th>
                        <th class="thpt">{{ 'global.status'|trans }}</th>
                        <th class="text-right">
                            <a href="{{ path('user_issuers_new') }}" class="btn btn-primary">
                                <span class="fa fa-plus"></span>
                                Dodaj emitenta
                            </a>
                        </th>
                    </tr>
                    {% for issuer in issuers %}
                        <tr>
                            <td>{{ issuer.firstName }}</td>
                            <td>{{ issuer.lastName }}</td>
                            <td>
                                {% if issuer.lastLogin %}{{ issuer.lastLogin|date('d.m.Y, H:i') }}{% endif %}
                            </td>
                            <td>
                                {% if issuer.enabled %}
                                    <div class="text-active">{{ 'global.active'|trans }}</div>
                                {% else %}
                                    <div class="text-danger">{{ 'global.inactive'|trans }}</div>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="" class="btn btn-success">
                                    <span class="fa fa-search-plus"></span>
                                    {{ 'global.details'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}