<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {% if action == 'remove' %}
            <h4 class="text-center">{{ 'global.remove_account'|trans }}</h4>
        {% endif %}
        {% if action == 'suspend' %}
            <h4 class="text-center">{{ 'global.suspend_account'|trans }}</h4>
        {% endif %}
        {% if action == 'restore' %}
            <h4 class="text-center">{{ 'global.restore_account'|trans }}</h4>
        {% endif %}
        <p class="text-center margin-top-30"
           style="font-size: 90%">{{ 'global.remove_account_password_info'|trans }}</p>
        <div class="form-group form3 margin-top-40">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <label>{{ 'global.password'|trans }}:</label>
                    <input type="password" id="stop_account_password" class="form-control"/>
                    {% if error %}
                        <div class="text-danger small margin-top-5">{{ error }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="text-center margin-top-30">
            <button class="btn btn-default margin-right-10" data-dismiss="modal"
                    aria-label="Close">{{ 'global.back'|trans }}</button>
            {% if action == 'remove' %}
                <button class="btn btn-danger" id="user-stop-account-set" data-action="{{ action }}" data-id="{{ manager.id }}">{{ 'global.remove_user'|trans }}</button>
            {% endif %}
            {% if action == 'suspend' %}
                <button class="btn btn-primary" id="user-stop-account-set" data-action="{{ action }}" data-id="{{ manager.id }}">{{ 'global.suspend_user'|trans }}</button>
            {% endif %}
            {% if action == 'restore' %}
                <button class="btn btn-primary" id="user-stop-account-set" data-action="{{ action }}" data-id="{{ manager.id }}">{{ 'global.restore_user'|trans }}</button>
            {% endif %}
        </div>
    </div>
</div>