<h2>{{ 'global.hello'|trans }} {{ user.firstName }} {{ user.lastName }}.</h2>

<p style="font-size: 18px; line-height: 22px">
    {{ 'email.invitation_info'|trans|raw }}<br/>

    {% if role is defined and role == 'ROLE_ISSUER' %}
        <a href="{{ url('user_registration_issuer', {'token': user.token}) }}">{{ url('user_registration_issuer', {'token': user.token}) }}</a><br/>
    {% else %}
        <a href="{{ url('user_registration_manager', {'token': user.token}) }}">{{ url('user_registration_manager', {'token': user.token}) }}</a><br/>
    {% endif %}
    <br/>
    {{ 'email.footer'|trans|raw }}
</p>