{% extends 'layout_panel.html.twig' %}

{% block head %}
    {{ 'global.patterns'|trans }}
{% endblock %}

{% block head_small %}
    {{ 'global.letters'|trans }}
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{{ 'global.patterns_name.to_manager'|trans }}</h3>
        </div>
        <div class="box-body">
            <div class="row font-130">
                <div class="col-sm-2">
                    {{ 'global.default_pattern'|trans }}
                </div>
                <div class="col-sm-2">
                    <a href="{{ path('document_view_pdf', {'type': 'manager'}) }}"
                       target="_blank">
                        <span class="fa fa-search-plus text-warning"></span>
                        {{ 'global.view_pdf'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{{ 'global.patterns_name.to_person'|trans }}</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2">
                    {{ 'global.default_pattern'|trans }}
                </div>
                <div class="col-sm-2">
                    <a href="{{ path('document_view_pdf', {'type': 'person'}) }}"
                       target="_blank">
                        <span class="fa fa-search-plus text-warning"></span>
                        {{ 'global.view_pdf'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{{ 'global.patterns_name.to_entity'|trans }}</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2">
                    {{ 'global.default_pattern'|trans }}
                </div>
                <div class="col-sm-2">
                    <a href="{{ path('document_view_pdf', {'type': 'entity'}) }}"
                       target="_blank">
                        <span class="fa fa-search-plus text-warning"></span>
                        {{ 'global.view_pdf'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}