<div class="report-view">
    <div class="row">
        <div class="col-sm-6">
            <label>{{ 'global.pesel'|trans }}</label>
            <div class="text">{{ report.data.pesel }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>{{ 'global.first_name'|trans }}</label>
            <div class="text">{{ report.data.firstName }}</div>
        </div>
        <div class="col-sm-6">
            <label>{{ 'global.last_name'|trans }}</label>
            <div class="text">{{ report.data.lastName }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>{{ 'global.position'|trans }}</label>
            <div class="text">{{ report.data.position }}</div>
        </div>
        <div class="col-sm-6">
            <label>{{ 'global.address'|trans }}</label>
            <div class="text">{{ report.data.address }}</div>
        </div>
    </div>
    <hr/>
    <h3 class="text-grey margin-bottom-30">{{ 'global.entities_closely_related'|trans }}</h3>
    {% for entity in report.relatedEntity %}
        <div>
            <div class="row">
                <div class="col-sm-3">
                    <label>{{ 'global.entity_name'|trans }}</label>
                    <div class="text">{{ entity.name }}</div>
                </div>
                <div class="col-sm-3">
                    <label>{{ 'global.address'|trans }}</label>
                    <div class="text">{{ entity.address }}</div>
                </div>
                <div class="col-sm-3">
                    <label>{{ 'global.type_otc_related'|trans }}</label>
                    <div class="text">{{ entity.typeOtcRelated }}</div>
                </div>
                <div class="col-sm-3">
                    <label>{{ 'global.phone_contact'|trans }}</label>
                    <div class="text">{{ entity.phone }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>{{ 'global.email'|trans }}</label>
                    <div class="text">{{ entity.email }}</div>
                </div>
                <div class="col-sm-3">
                    <label>{{ 'global.business_address'|trans }}</label>
                    <div class="text">{{ entity.businessAddress }}</div>
                </div>
                <div class="col-sm-3">
                    <label>{{ 'global.kni'|trans }}</label>
                    <div class="text">{{ entity.kni }}</div>
                </div>
            </div>
            <hr/>
        </div>
    {% endfor %}

    <h3 class="text-grey margin-bottom-30">{{ 'global.person_closely_related'|trans }}</h3>
    {% for person in report.relatedPerson %}
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <label>{{ 'global.first_last_names'|trans }}</label>
                    <div class="text">{{ person.name }}</div>
                </div>
                <div class="col-sm-6">
                    <label>{{ 'global.address'|trans }}</label>
                    <div class="text">{{ person.typeOpozRelated }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>{{ 'global.email'|trans }}</label>
                    <div class="text">{{ person.email }}</div>
                </div>
                <div class="col-sm-6">
                    <label>{{ 'global.phone_contact'|trans }}</label>
                    <div class="text">{{ person.phone }}</div>
                </div>
            </div>
            <hr/>
        </div>
    {% endfor %}
</div>