<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Powiadomienie o obowiązkach not. - manager</title>
    <style>
        body {
            font-family: arial;
            line-height: 150%;
        }

        .text-right {
            text-align: right;
        }

        .text-center {
            text-align: center;
        }

        .small {
            font-size: 80%;
        }

        .pull-left {
            float: left;
        }

        .pull-right {
            float: right;
        }

        .clearfix {
            clear: both;
        }

        h1 {
            font-size: 140%;
        }

        h2 {
            font-size: 120%;
        }

        h3 {
            font-size: 110%;
        }
    </style>
</head>

<body>
{% block body %}
    <p class="text-right">{{ city }}, {{ date }}</p>
    <p style="width: 60%">
        <b>{{ company }} S.A.</b>
    </p>
    <p class="text-right">
        <b>Pan {{ manager }}</b><br/>
        Członek Rady Nadzorczej {{ company }} S.A.<br/><br/><br/>
    </p>

    <h1 class="text-center">Powiadomienie o obowiązkach notyfikacyjnych</h1>
    <p class="small text-center"><i>wynikających z art. 19 Rozporządzenia Parlamentu Europejskiego i Rady nr 596/2014 z
            dnia 16 kwietnia 2014 r. w sprawie nadużyć na rynku (rozporządzenie w sprawie nadużyć na rynku) oraz
            uchylające dyrektywę 2003/6/WE Parlamentu Europejskiego i Rady i dyrektywy Komisji 2003/124/WE, 2003/125/WE
            i 2004/72/WE (Rozporządzenie MAR)</i><br/><br/></p>
    <h3 class="text-center">skierowane do Pana {{ manager }}, będącego w Spółce {{ company }} S.A. osobą pełniącą
        obowiązki zarządcze*</h3>
    <p class="small"><i>* „osoba pełniąca obowiązki zarządcze” w rozumieniu art. 3 ust. 1 pkt 25 Rozporządzenia MAR, tj.
            „Osoba Zarządzająca” w rozumieniu Procedury notyfikacji oraz ograniczeń w dokonywaniu transakcji
            (Procedura).</i><br/><br/></p>
    <p>Działając zgodnie z art. 19 ust. 5 Rozporządzenia MAR informujemy Pana/Panią, jako Osobę Zarządzającą
        w {{ company }} S.A., <b>o obowiązkach notyfikacyjnych.</b></p>
    <h3>1. NOTYFIKACJA O TRANSAKCJACH</h3>
    <p>Zgodnie z art. 19 ust. 1 Rozporządzenia MAR Osoba Zarządzająca zobligowana jest do powiadamiania {{ company }}
        S.A. (dalej: „{{ company }}” lub „Spółka”) oraz Komisji Nadzoru Finansowego („Komisja), o każdej Transakcji
        zawieranej na jej rachunek w odniesieniu do papierów wartościowych emitowanych przez {{ company }}, w
        szczególności akcji lub instrumentów dłużnych Spółki lub instrumentów pochodnych, bądź innych powiązanych z nimi
        instrumentów finansowych w trybie opisanym w Procedurze.</p>
    <p>Wykaz Transakcji objętych obowiązkiem Notyfikacji zawiera załącznik nr 1 do niniejszego powiadomienia (katalog
        otwarty). Do obowiązków Osoby Zarządzającej należy również stałe monitorowanie zawieranych Transakcji, tj.
        dojścia Transakcji do skutku. <b>Obowiązek Notyfikacji powstaje po raz pierwszy, gdy wartość Transakcji
            osiągnęła
            lub przekroczyła równowartość 5.000 euro (według kursu średniego ogłaszanego przez Narodowy Bank Polski,
            obowiązujący w dniu zawarcia każdej z Transakcji).</b> Natomiast, w przypadku, gdy wartość Transakcji nie
        przekroczyła 5.000 euro, Notyfikacja jest przekazywana w terminach wskazanych poniżej, licząc od dnia, w którym
        suma wartości wszystkich dotychczasowych Transakcji osiągnęła lub przekroczyła w danym roku kalendarzowym
        równowartość 5.000 euro. W przypadku gdy suma wartości dotychczasowych Transakcji osiągnęła lub przekroczyła w
        danym roku kalendarzowym równowartość 5.000 euro, Osoba Zarządzająca zobowiązana jest do przekazywania
        Notyfikacji każdorazowo po dokonaniu każdej kolejnej Transakcji bez względu na jej wartość.</p>
    <p>Notyfikacja o Transakcji powinna nastąpić niezwłocznie, lecz nie później niż w trzecim dniu roboczym (w miarę
        możliwości nie później niż w drugim) po dniu Transakcji za pomocą adresu e-mail wskazanego przez Osobę
        Zarządzającą jako oficjalny adres e-mail do dokonywania Notyfikacji.</p>
    <h3>2. OBOWIĄZKI W ZAKRESIE UJAWNIANIA OSÓB I PODMIOTÓW BLISKO ZWIĄZANYCH</h3>
    <p>Zgodnie z art. 19 ust. 5 Rozporządzenia MAR do obowiązków Osoby Zarządzającej należy poinformowanie {{ company }}
        o Osobach Blisko Związanych i Podmiotach Blisko Związanych z daną Osobą Zarządzającą w celu umożliwienia
        sporządzenia przez {{ company }} odpowiednio listy Osób Blisko Związanych z Osobą Zarządzającą oraz listy
        Podmiotów Blisko Związanych z Osobą Zarządzającą.</p>
    <p>Przez <b>Osobę Blisko Związaną</b> zgodnie z definicją wskazaną w Art. 3 ust. 1 pkt 26 lit. a)-c) Rozporządzenia
        MAR
        rozumie się:</p>
    <ol type="a">
        <li>małżonka lub partnera uznawanego zgodnie z prawem krajowym za równoważnego z małżonkiem,</li>
        <li>dziecko będące na utrzymaniu zgodnie z prawem krajowym,</li>
        <li>członka rodziny, który w dniu danej transakcji pozostaje we wspólnym gospodarstwie domowym przez okres co
            najmniej roku.
        </li>
    </ol>

    <p>Przez <b>Podmiot Blisko Związany</b> zgodnie z definicją wskazaną w Art. 3 ust. 1 pkt 26 lit. d Rozporządzenia
        MAR
        rozumie się osobę prawną, grupę przedsiębiorstw lub spółki osobowe, w której Osoba Zarządzająca lub Osoba Blisko
        Związana:</p>
    <ol type="a">
        <li>pełni obowiązki zarządcze,</li>
        <li>nad którą osoba taka sprawuje pośrednią lub bezpośrednią kontrolę, lub</li>
        <li> która została utworzona, by przynosić korzyści takiej osobie, lub</li>
        <li>której interesy gospodarcze są w znacznym stopniu zbieżne z interesami takiej osoby.</li>
    </ol>
    <p>Informację o ww. osobach Osoba Zarządzająca przekazuje na wykazach, których wzory stanowią odpowiednio załączniki
        nr 3 i 5 do niniejszego powiadomienia.</p>
    <h3>3. AKTUALIZACJA DANYCH</h3>
    <p>W przypadku jakiejkolwiek zmiany informacji na wykazach, tak w zakresie osób jak i danych ich dotyczących
        (zarówno w zakresie powstania jak i ustania statusu Osoby Blisko Związanej lub Podmiotu Blisko Związanego),
        Osoba Zarządzająca zobligowana jest niezwłocznie poinformować o tym fakcie {{ company }}. Zwracamy uwagę, że po
        utracie statusu Osoby Zarządzającej lub ustania statusu Osoby Blisko Związanej lub Podmiotu Blisko Związanego
        podmioty te powinny być przez Osobę Zarządzającą o tym fakcie poinformowane (w tym zakresie forma takiego
        powiadomienia jest dowolna, aczkolwiek zaleca się co najmniej formę powiadomienia e-mail za potwierdzeniem
        odbioru wiadomości).</p>

    <h3>4. OBOWIĄZEK POWIADOMIENIA OSÓB ORAZ PODMIOTÓW BLISKO ZWIĄZANYCH O ICH OBOWIĄZKACH</h3>
    <p>Zgodnie z art. 19 ust. 5 Rozporządzenia MAR Osoba Zarządzająca zobowiązana jest do poinformowania na piśmie Osób
        Blisko Związanych oraz Podmiotów Blisko Związanych o obowiązku bezpośredniego informowania przez te
        osoby {{ company }} i Komisji Nadzoru Finansowego o Transakcjach (Notyfikacja).</p>
    <p>Jednocześnie informujemy, że Osoba Zarządzająca zobligowana jest od przechowywania we własnym zakresie kopii ww.
        powiadomień, przez co rozumie się:</p>
    <ol type="a">
        <li>Obowiązek zachowania treści powiadomienia,</li>
        <li>
            Obowiązek udokumentowania oraz zachowania przez Osoby Zarządzające dokumentów poświadczających skuteczne
            przeprowadzenie czynności powiadomienia, do których zalicza się w szczególności:<br/>
            - złożenie przez osobę lub podmiot, do którego dane powiadomienie jest adresowane podpisu na kopii
            powiadomienia z adnotacją „otrzymałem/am” wraz ze wskazaniem daty, kiedy to miało miejsce, lub<br/>
            - wysłanie powiadomienia listownie za zwrotnym potwierdzeniem odbioru.
        </li>
    </ol>

    <p>Kopia powiadomień, o których mowa powyżej powinna zostać przekazana również do {{ company }}.</p>
    <h3>5. SANKCJE W PRZYPADKU NARUSZEŃ</h3>
    <p>Z tytułu nie wykonania lub nienależytego wykonania obowiązków, wynikających z art. 19 Rozporządzenia MAR, w tym w
        zakresie dokonywania Notyfikacji, Komisja Nadzoru Finansowego może na mocy przepisów powszechnie obowiązujących
        nałożyć karę pieniężną:</p>
    <ol type="a">
        <li>Na Osobę Zarządzającą oraz Osobę Blisko Związaną, która nie wykona lub nienależycie wykona obowiązek
            przekazania Komisji Nadzoru Finansowego oraz {{ company }} Notyfikacji o Transakcjach, Komisja Nadzoru
            Finansowego może nałożyć, w drodze decyzji, karę pieniężną w wysokości <b>do 2.072.800 zł</b>,
        </li>
        <li>W przypadku gdy {{ company }} lub Podmiot Blisko Związany nie wykona lub nienależycie wykona obowiązek
            przekazywania odpowiednio do wiadomości publicznej, Komisji Nadzoru Finansowego oraz {{ company }}
            Notyfikacji o Transakcjach, Komisja Nadzoru Finansowego może nałożyć, w drodze decyzji na każdy z tych
            podmiotów, karę pieniężną w wysokości <b>do 4.145.600 zł</b>,
        </li>
        <li>Natomiast w przypadku gdy będzie możliwe ustalenie kwoty korzyści osiągniętej lub straty unikniętej przez
            osobę lub podmiot w wyniku naruszeń, o których mowa powyżej, zamiast kary, o której mowa powyżej, Komisja
            Nadzoru Finansowego może nałożyć karę pieniężną do wysokości trzykrotnej kwoty osiągniętej korzyści lub
            unikniętej straty.
        </li>
    </ol>

    <h3>6. INFORMACJA DOTYCZĄCA PRZETWARZANIA DANYCH OSOBOWYCH</h3>
    <p>Zgodnie z art. 24 ust. 1 ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tj. Dz. U. 2015 r. poz.
        2135 z późn. zm.) {{ company }} informuje, iż jest administratorem Pani/Pana danych osobowych. Pani/Pana dane
        osobowe przetwarzane będą w celu wypełnienia przez {{ company }} obowiązków, o których mowa w art. 19
        Rozporządzenia MAR i nie będą udostępniane odbiorcom danych. Zakres danych obejmuje: imiona, nazwisko, funkcja
        w {{ company }}, telefon kontaktowy, adres email, adres korespondencyjny. Posiada Pani/Pan prawo dostępu do
        treści swoich danych oraz ich poprawiania.</p>

    <p class="small"><i>Zasady oraz tryb dokonywania Notyfikacji opisane są w Procedurze notyfikacji oraz ograniczeń w
            dokonywaniu transakcji stanowiącej Załącznik do Zasad Współpracy przy wykonywaniu obowiązków informacyjnych
            w Grupie Kapitałowej {{ company }}. Znaczenie wyrazów pisanych dużą literą określone jest w ww.
            Procedurze.</i></p>

    <h4 class="text-right"><i><br/>W imieniu Spółki</i><br/><br/></h4>

    <p class="text-right">…………………………&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp…………………………<br/><br/></p>

    <div style="page-break-after: always;"></div>
    <h3><br/>Wypełnia OSOBA ZOBOWIĄZANA:</h3>
    <p><i>Otrzymałem/am, przyjmuję do wiadomości i zobowiązuję się do stosowania.</i><br/><br/></p>
    <div class="pull-left text-center">
        ……………………………………………<br/>
        Miejscowość, data otrzymania Powiadomienia<br/>
    </div>
    <div class="pull-right text-center">
        ……………………………………………<br/>
        Podpis Osoby Zarządzającej
    </div>
    <div class="clearfix"></div>
    <p>
        Otrzymują:<br/>
        1) Adresat,<br/>
        2) a/a
    </p>
{% endblock %}
</body>
</html>