<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Powiadomienie o obowiązkach not. - osoba blisko związana</title>
    <style>
        body {
            font-family: arial;
            line-height: 150%;
        }

        .text-right {
            text-align: right;
        }

        .text-center {
            text-align: center;
        }

        .small {
            font-size: 80%;
        }

        .pull-left {
            float: left;
        }

        .pull-right {
            float: right;
        }

        .clearfix {
            clear: both;
        }

        h1 {
            font-size: 140%;
        }

        h2 {
            font-size: 120%;
        }

        h3 {
            font-size: 110%;
        }
    </style>
</head>

<body>
{% block body %}
    <p class="text-right">{{ city }}, {{ date }}</p>
    <p style="width: 60%"><b>Pan/i {{ manager }}</b><br/>
        Członek Rady Nadzorczej {{ company }} S.A.</p>
    <p class="text-right">
        <b>Pan/Pani</b><br/>
        {{ person }}<br/>
        {{ address|raw }}<br/><br/><br/>
    </p>
    <h1 class="text-center">Powiadomienie o obowiązkach notyfikacyjnych</h1>
    <p class="small text-center"><i>wynikających z art. 19 Rozporządzenia Parlamentu Europejskiego i Rady nr 596/2014 z
            dnia 16 kwietnia
            2014 r. w sprawie nadużyć na rynku (rozporządzenie w sprawie nadużyć na rynku) oraz uchylające dyrektywę
            2003/6/WE Parlamentu Europejskiego i Rady i dyrektywy Komisji 2003/124/WE, 2003/125/WE i 2004/72/WE
            (Rozporządzenie MAR)</i><br/><br/></p>
    <p><b style="font-size: 120%">skierowane przez Pana/ią {{ manager }}</b>
        <br/>będącego Osobą Zarządzającą* w {{ company }} S.A.<br/><br/></p>
    <p><b style="font-size: 120%">do Pana/Pani {{ person }}</b>………………………………………<br/>
        będącego/będącą Osobą Blisko Związaną** z ww. Osobą Zarządzającą* w {{ company }} S.A.</p>
    <p class="small"><i>*„Osoba Zarządzająca” w rozumieniu Procedury notyfikacji oraz ograniczeń w dokonywaniu
            transakcji (Procedura),
            będąca odpowiednikiem „osoby pełniącej obowiązki zarządcze” w rozumieniu art. 3 ust. 1 pkt 25 Rozporządzenia
            MAR,<br/>
            ** „Osoba Blisko Związana” w rozumieniu art. 3 ust. 1 pkt 26 Rozporządzenia MAR oraz Procedury</i></p>
    <p>Zgodnie z art. 19 ust. 5 Rozporządzenia MAR powiadamiam Pana/Panią {{ person }}, jako Osobę Blisko Związaną z moją osobą <b>o
            obowiązkach notyfikacyjnych.</b></p>
    <p>Przez <b>Osobę Blisko Związaną</b> z Osobą Zarządzającą zgodnie z definicją wskazaną w Art. 3 ust. 1 pkt 26 lit.
        a) -c)
        Rozporządzenia MAR rozumie się:</p>
    <ol type="a">
        <li>małżonka lub partnera uznawanego zgodnie z prawem krajowym za równoważnego z małżonkiem,</li>
        <li>dziecko będące na utrzymaniu zgodnie z prawem krajowym,</li>
        <li>członka rodziny, który w dniu danej transakcji pozostaje we wspólnym gospodarstwie domowym przez okres co
            najmniej roku.
        </li>
    </ol>
    <p>Przez <b>Osobę Zarządzającą</b> zgodnie z definicją wskazaną w Art. 3 ust. 1 pkt 25 Rozporządzenia MAR rozumie
        się osoba
        związana z {{ company }} S.A.:</p>
    <ol type="a">
        <li>która:<br/>
            - jest członkiem Zarządu {{ company }} S.A.,<br/>
            - jest członkiem Rady Nadzorczej {{ company }} S.A.,
        </li>
        <li>
            nie będąc członkiem organów, o których mowa w lit. a), spełnia łącznie następujące kryteria:<br/>
            - pełni funkcje kierownicze,<br/>
            - ma stały dostęp do informacji poufnych dotyczących pośrednio lub bezpośrednio {{ company }} S.A. oraz<br/>
            - posiada uprawnienia do podejmowania decyzji zarządczych mających wpływ na dalszy rozwój i perspektywy
            gospodarcze {{ company }} S.A..
        </li>
    </ol>
    <h3>1. NOTYFIKACJA O TRANSAKCJACH</h3>
    <p>Zgodnie z art. 19 ust. 1 Rozporządzenia MAR, Osoba Blisko Związana zobligowana jest do Notyfikowania
        do {{ company }} S.A. (dalej: „{{ company }}” lub „Spółka”) oraz Komisji Nadzoru Finansowego, o każdej
        Transakcji zawieranej na jej rachunek w odniesieniu do papierów wartościowych emitowanych przez {{ company }}, w
        szczególności akcji lub instrumentów dłużnych Spółki lub instrumentów pochodnych, bądź innych powiązanych z nimi
        instrumentów finansowych (Transakcje). <b>Obowiązek Notyfikacji powstaje po raz pierwszy, gdy wartość Transakcji
            osiągnęła lub przekroczyła równowartość 5.000 euro (według kursu średniego ogłaszanego przez Narodowy Bank
            Polski, obowiązujący w dniu zawarcia każdej z Transakcji).</b> Natomiast, w przypadku, gdy wartość
        Transakcji nie
        przekroczyła 5.000 euro, Notyfikacja jest przekazywana w terminach wskazanych poniżej, licząc od dnia, w którym
        suma wartości wszystkich dotychczasowych Transakcji osiągnęła lub przekroczyła w danym roku kalendarzowym
        równowartość 5.000 euro. W przypadku gdy suma wartości dotychczasowych Transakcji osiągnęła lub przekroczyła w
        danym roku kalendarzowym równowartość 5.000 euro, Osoba Blisko Związana zobowiązana jest do przekazywania
        Notyfikacji każdorazowo po dokonaniu każdej kolejnej Transakcji bez względu na jej wartość.</p>
    <p>Notyfikacja o Transakcji powinna nastąpić niezwłocznie, zgodnie z Procedurą nie później niż w trzecim dniu
        roboczym (w miarę możliwości nie później niż w drugim) po dniu Transakcji. Do obowiązków Osoby Blisko Związanej
        należy również stałe monitorowanie zawieranych Transakcji, tj. monitorowanie faktu dojścia Transakcji do
        skutku.</p>
    <p>Ponadto Osoba Blisko Związana powinna niezwłocznie poinformować na piśmie Osobę Zarządzającą, o której mowa na
        wstępie, o każdym przypadku zmiany danych przekazanych na potrzeby jej identyfikacji jako Osoby Blisko
        Związanej.</p>
    <H3>2. SANKCJE W PRZYPADKU NARUSZEŃ</H3>
    <P>Z tytułu nie wykonania lub nienależytego wykonania obowiązków, wynikających z art. 19 Rozporządzenia MAR, w tym w
        zakresie dokonywania Notyfikacji, Komisja Nadzoru Finansowego może na mocy przepisów powszechnie obowiązujących
        nałożyć karę pieniężną:</P>
    <ol type="a">
        <li>Na Osobę Blisko Związaną, która nie wykona lub nienależycie wykona obowiązek przekazania Komisji Nadzoru
            Finansowego oraz {{ company }} Notyfikacji o Transakcjach, Komisja Nadzoru Finansowego może nałożyć, w
            drodze decyzji, karę pieniężną w wysokości do 2. 072.800 zł,
        </li>
        <li>Natomiast w przypadku gdy będzie możliwe ustalenie kwoty korzyści osiągniętej lub straty unikniętej przez
            Osobę Blisko Związaną zamiast kary, o której mowa powyżej, Komisja Nadzoru Finansowego może nałożyć karę
            pieniężną do wysokości trzykrotnej kwoty osiągniętej korzyści lub unikniętej straty.
        </li>
    </ol>
    <h3>3. INFORMACJA DOTYCZĄCA PRZETWARZANIA DANYCH OSOBOWYCH</h3>
    <p>Zgodnie z art. 25 ust. 1 ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tj. Dz. U. 2015 r. poz.
        2135 z późn. zm.) {{ company }} informuje, iż jest administratorem Pani/Pana danych osobowych. Pani/Pana dane
        osobowe przetwarzane będą w celu wypełnienia przez {{ company }} obowiązków, o których mowa w art. 19
        Rozporządzenia MAR i nie będą udostępniane odbiorcom danych. Zakres danych obejmuje: imiona, nazwisko, rodzaj
        powiązania z Osobą Zarządzającą, telefon kontaktowy, adres email. Posiada Pani/Pan prawo dostępu do treści
        swoich danych oraz ich poprawiania, jak również na podstawie art. 32 ust. 1 pkt 7 ustawy o ochronie danych
        osobowych przysługuje Pani/Panu prawo wniesienia pisemnego, umotywowanego żądania zaprzestania przetwarzania
        Pani/Pana danych ze względu na Pani/Pana szczególną sytuację. Dane zostały pozyskane od Osoby Zarządzającej.</p>
    <p class="small"><i>Jednocześnie zwracam uwagę, iż szczegółowe zasady dotyczące zasad dokonywania Notyfikacji
            określone są w Rozporządzeniu MAR.</i><br/><br/></p>
    <p class="text-right">
        Z poważaniem,<br/><br/><br/>
        ……………………
    </p>
    <div style="page-break-after: always;"></div>
    <h3>Wypełnia OSOBA BLISKO ZWIĄZANA:</h3>
    <p>Otrzymałem, przyjmuję do wiadomości i zobowiązuję się do stosowania.<br/><br/></p>
    <div class="pull-left text-center">
        ……………………………………………<br/>
        Miejscowość, data otrzymania Powiadomienia
    </div>
    <div class="pull-right text-center">
        ……………………………………………<br/>
        Podpis Osoby Blisko Związanej
    </div>
    <div class="clearfix"></div>
    <p>
        Otrzymują:<br/>
        1) Adresat,<br/>
        2) Spółka,<br/>
        3) a/a
    </p>
{% endblock %}
</body>
</html>