{% extends 'layout_panel.html.twig' %}

{% block head %}
    {{ 'global.reports'|trans }}
{% endblock %}

{% block head_small %}
    {{ 'global.summary2'|trans }}
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="text-uppercase box-title">{{ 'global.actual_report'|trans }}</h3>
                </div>
                <div class="col-sm-5 text-right margin-top-10-sm">
                    <a class="btn btn-block btn-primary" id="generate_pdf_button">
                        {{ 'global.generate_new_report_summary'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="thpt">
                        <th class="thpt">{{ 'global.number'|trans }}</th>
                        <th class="thpt">{{ 'global.generated_date'|trans }}</th>
                        <th class="thpt">{{ 'global.description'|trans }}</th>
                        <th class="thpt"></th>
                    </tr>
                    {% for report in newReport %}
                        <tr>
                            <td style="vertical-align: middle" width="22%">{{ report.number }}</td>
                            <td style="vertical-align: middle" width="22%">{{ report.date|date("d.m.Y") }}</td>
                            <td style="vertical-align: middle" class="description-row">
                                <div class="report-description-buttons">
                                    <div {% if not report.description %}style="display: none"{% endif %}
                                         class="report-description-buttons-edit">
                                        <span class="glyphicon glyphicon-pencil report-edit-description text-info"></span>
                                        <span class="report-edit-description-text">{{ report.description }}</span>
                                    </div>
                                    <div {% if report.description %}style="display: none"{% endif %}
                                         class="report-description-buttons-add">
                                        <a href="javascript:void(0)"
                                           class="report-edit-description">{{ 'global.add_description'|trans }}</a>
                                    </div>
                                </div>
                                <div class="report-description-area" style="display: none">
                                <textarea
                                        class="form-control report-description-field">{{ report.description }}</textarea>
                                    <button class="btn btn-primary btn-small pull-right margin-top-5 report-description-save"
                                            data-id="{{ report.id }}">{{ 'global.save'|trans }}</button>
                                </div>
                            </td>
                            <td style="vertical-align: middle" class="text-right" width="16%">
                                <a href="{{ asset('uploads/report_summary/'~report.file) }}"
                                   target="_blank">
                                    <i class="fa  fa-clipboard text-danger"></i>
                                    {{ 'global.view_pdf'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ 'global.no_reports'|trans }}.</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="text-uppercase box-title">{{ 'global.old_reports'|trans }}</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="thpt">
                        <th class="thpt">{{ 'global.number'|trans }}</th>
                        <th class="thpt">{{ 'global.generated_date'|trans }}</th>
                        <th class="thpt">{{ 'global.description'|trans }}</th>
                        <th class="thpt"></th>
                    </tr>
                    {% for report in reports %}
                        <tr>
                            <td style="vertical-align: middle" width="22%">{{ report.number }}</td>
                            <td style="vertical-align: middle" width="22%">{{ report.date|date("d.m.Y") }}</td>
                            <td style="vertical-align: middle" class="description-row">
                                <div class="report-description-buttons">
                                    <div {% if not report.description %}style="display: none"{% endif %}
                                         class="report-description-buttons-edit">
                                        <span class="glyphicon glyphicon-pencil report-edit-description text-info"></span>
                                        <span class="report-edit-description-text">{{ report.description }}</span>
                                    </div>
                                    <div {% if report.description %}style="display: none"{% endif %}
                                         class="report-description-buttons-add">
                                        <a href="javascript:void(0)"
                                           class="report-edit-description">{{ 'global.add_description'|trans }}</a>
                                    </div>
                                </div>
                                <div class="report-description-area" style="display: none">
                                <textarea
                                        class="form-control report-description-field">{{ report.description }}</textarea>
                                    <button class="btn btn-primary btn-small pull-right margin-top-5 report-description-save"
                                            data-id="{{ report.id }}">{{ 'global.save'|trans }}</button>
                                </div>
                            </td>
                            <td style="vertical-align: middle" class="text-right" width="16%">
                                <a href="{{ asset('uploads/report_summary/'~report.file) }}"
                                   target="_blank">
                                    <i class="fa  fa-clipboard text-danger"></i>
                                    {{ 'global.view_pdf'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ 'global.no_reports'|trans }}.</td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="text-right">
                    {{ knp_pagination_render(reports) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="generateModal" tabindex="-1" role="dialog" aria-labelledby="generateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center margin-bottom-50 margin-top-50">
                        <h3>{{ 'global.are_you_sure'|trans }}?</h3>
                        <p>{{ 'global.report_generate_pdf_info'|trans }}.</p>
                        <div class="width-200 margin-top-30">
                            <button class="btn btn-default" data-dismiss="modal"
                                    aria-label="Close">{{ 'global.cancel'|trans }}</button>
                            <a href="{{ path('report_summary_generate_pdf') }}"
                               class="btn btn-primary margin-left-10">{{ 'global.generate_pdf'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#generate_pdf_button").click(function () {
                $("#generateModal").modal();
            });

            $(".report-edit-description").click(function () {
                $(this).closest('.description-row').find(".report-description-area").show();
                $(this).closest('.description-row').find(".report-description-buttons-edit").hide();
                $(this).closest('.description-row').find(".report-description-buttons-add").hide();
            });

            $(".report-description-save").click(function () {
                var obj = $(this).closest('.description-row');

                var description = obj.find('.report-description-field').val();
                var id = $(this).data("id");
                var url = Routing.generate('report_summary_change_description', {'report': id});


                $.ajax({
                    method: "POST",
                    url: url,
                    data: {'description': description}
                }).done(function (msg) {
                    obj.find(".report-edit-description-text").html(msg);
                    obj.find(".report-description-area").hide();
                    obj.find(".report-description-buttons-edit").show();
                });
            });
        });
    </script>
{% endblock %}